/* entire webpage settings */
body{
   background-color: rgb(22, 22, 22) ;
}
/* play / pause audio symbol */
#play-pause{
   height: 60px;
   cursor: pointer;
   padding-left: 10px;
   padding-right: 10px;

}
/* indicates the volume control slider */
#volume-icon{
   height: 40px;
   margin-left: 20px;
}
/* time signiture styling */
h4{
   font-family: monospace;
   font-size: 25px;
   font-weight: 10px;
   color: rgb(255, 255, 255);
  
}
h2{
   font-family: monospace;
   color: white;
   margin-left: 710px;
   font-size: 15px;
}
/* song select heading styling */
p{
   font-family: monospace;
   font-size: 20px;
   color: rgb(255, 255, 255);
   align-items:center;
}
/* styling for the box that holds the audio player controls and song select buttons */
#audio-player-container{
   width: 850px;
   height:  900px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   margin-top: 150px;
   padding: 10px;
   justify-content: center; 
   border-style: solid;
   border-color: rgb(139, 0, 42);
   border-style: ridge;
   border-width: 30px;
   background-image: linear-gradient(to right, #be0707,#3944a5) ;
   
}
/* box that holds the play/pause symbol, current time, seek bar, volume control bar, and volume control symbol */
#audio-player-controls{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 100px;
   border-color: rgb(139, 0, 42) ;
   border-style: solid;
   height: 300px;
   width: 800px;
   background-image: transparent;
   border-radius: 10px;
   border-width: 5px;
   border-style:groove;
 
}
/* id for the three different songs buttons  */
#tracklist{
   display: flex;
   flex-direction: row;

}
/* class styling for the three different song buttons- changing the apperence and placement */
.trackbutton{
   flex-grow: 2;
   color: #4b0000;
   background-color: rgb(223, 26, 66);
   font-family: monospace;
   font-size: 25px;
   border-radius: 15px;
   height: 100px;
   margin-top: 70px;
   margin-left: 20px;
   margin-right: 10px;
   border-color: darkred;
   cursor: pointer;
}
.trackbutton.hover{
   
}
/* styling the current time seek bar  */
#seek-bar{
   width: 300px;
   cursor: pointer; 
   margin-left: 10px;
   height: 50px;
   justify-content: center;
   
}
/* changing the apperence of the current time  */
#current-time{
   padding-left: 5px;
}
/* styling and changing the placement of the volume control bar slider  */
#volume-control{
   margin-left: 20px;
   width: 200px;


}




