body{
   background-image: linear-gradient(to left, #F4989C,#ACECF7);
}
#play-pause{
   height: 50px;
   height: 50px;
   cursor: pointer;
   padding-left: 10px;
   padding-right: 10px;

}

#skip{
   height: 50px;
   cursor: pointer;
}
h4{
   font-family: monospace;
   font-size: 30px;
   font-weight: 10px;
}
p{
   font-family: monospace;
   font-size: 20px;
   position: relative;
   display: row;
   margin-left: 50px;
   margin-top: 10px;
   margin-bottom: 30px;
   
   
}
#audio-player-container{
   width: 650px;
   height: 650px;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: auto;
   padding: 10px;
   justify-content: center; 
   border-style: solid;
   border-color: darkmagenta;
   border-style: ridge;
}
#seek-bar{
   width: 250px;
   cursor: pointer; margin-left: 10px;
   height: 25px;
  
}
#current-time{
   padding-left: 5px;
}
.volume-slider{
   align-items: center;
   border-radius: 50px;

}
.slider{
   padding-left: 25px;
   align-items: center;
   margin-top: 20px;
}
.slider input[type="range"]{
   position:relative;
   background: transparent;
}

